* {
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    min-width: 240px;
    min-height: 390px;
    background-color: #f5e8d7;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-form {
    width: 450px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#difficulty-panel {
    background-color: lavender;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px gray;
}

#card {
    width: 100%;
    height: 240px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 5px 0px;
}

#word {
    font-size: 35px;
}

.control-panel {
    height: 230px;
    border: 0px solid black;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px gray;
    background-color: lavender;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.control-position-panel {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

#move-left, #move-right {
    font-size: 18px;
    border-radius: 30px;
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px 1px gray;
}

#move-left {
    background-color: gray;
}

#move-right {
    background-color: white;
}

    #move-left:hover, #move-right:hover {
        background-color: lightgrey;
        cursor: pointer;
    }


#current-pos {
    font-size: 30px;
    padding: 2px 10px;
}

.answer-panel {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 25px;
    margin-top: 10px;
}

#input-answer {
    width: 100%;
    text-align: center;
    font-size: 24px;
    border: 1px solid gray;
    border-radius: 7px;
}

    #input-answer::placeholder {
        font-size: 18px;
        opacity: 0.7;
    }

.statistics-panel {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 25px;
}

    .statistics-panel table {
        width: 100%;
        text-align: center;
    }

#statistics-header {
    color: blue;
}

#correct-statistics-header, #correct-statistics-value {
    width: 33%;
    color: green;
}

#incorrect-statistics-header, #incorrect-statistics-value {
    width: 33%;
    color: red;
}

#correct-statistics-header, #correct-statistics-value {
    width: 33%;
    color: green;
}

#without-answers-header, #without-answers-statistics-value {
    color: gray;
}

#dialog {
    display: none;
}

@media all and (max-width: 470px) {
    .main-form {
        width: 90%;
    }
}


@media all and (max-width: 440px) {
    .main-form {
        width: 90%;
    }

    .control-panel {
        height: 250px;
    }
}

@media all and (max-width: 360px) {
    .answer-panel {
        padding: 5px;
    }
}

@media all and (max-height: 600px) {
    .main-form {
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #card {
        height: 120px;
    }

    .main-form {
        justify-content: center;
    }
}

@media all and (max-height: 400px) {
    .main-form {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #word {
        font-size: 30px;
    }

    #card {
        height: 80px;
    }

    #move-left, #move-right {
        font-size: 15px;
        border-radius: 30px;
        width: 21px;
        height: 21px;
    }

    #current-pos {
        font-size: 25px;
        padding: 2px 10px;
    }

    .control-panel {
        height: auto;
    }

    .statistics-panel {
        width: 100%;
        text-align: center;
        font-size: 16px;
        margin-top: 5px;
    }
}
